# Target: ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# Flash: 16MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# PSRAM: Octal 80MHz
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# CPU: 240MHz
CONFIG_ESP_DEFAULT_CPU_FREQ_240=y

# WiFi
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32

# HTTPS: use certificate bundle
CONFIG_ESP_TLS_USING_MBEDTLS=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y

# hiboss terminal config
CONFIG_WIFI_SSID="Mings"
CONFIG_WIFI_PASSWORD="little@pple"
CONFIG_HIBOSS_SERVER_URL="https://hiboss-server.sunoj-mings.workers.dev"
CONFIG_HIBOSS_BOSS_API_KEY="hb_boss_c1ed5e1909162532ad1077242f3766a1"

# LVGL
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_COLOR_DEPTH_16=y
